@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap');

//primary
$marine-blue: hsl(213, 96%, 18%);
$marine-light-blue: hsla(213, 96%, 18%, 0.808);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-Pastel-blue: hsla(228, 100%, 84%, 0.171);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

//neutral
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);
$Black: #000000;

.container5 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $Magnolia;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper5 {
        width: 60%;
        height: 80%;
        position: relative;
        background-color: $White;
        box-shadow: 0px 19px 58px -35px #888888;
        border-radius: 20px;
        padding-left: 0.5%;
        display: flex;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;


        @media only screen and (max-width: 1320px) {
            width: 70%;
        }

        @media only screen and (max-width: 1200px) {
            width: 75%;
        }

        @media only screen and (max-width: 900px) {
            width: 80%;
        }

        @media only screen and (max-width: 600px) {
            width: 100%;
            height: 100%;
            background-color: $Magnolia;
            flex-direction: column;
            padding: 0px;
        }

        .sidebar {
            width: 26%;
            height: 96%;
            float: left;

            @media only screen and (max-width: 900px) {
                width: 35%;
            }


            @media only screen and (max-width: 600px) {
                display: none;
            }

        }

        .stepswrapper {
            width: 25.2%;
            height: 46%;
            position: absolute;
            top: 14%;
            // background-color: rgb(24, 117, 197);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            z-index: 1000;


            @media only screen and (max-width: 600px) {
                width: 100%;
                background-image: url('../assets/bg-sidebar-mobile.png');
                top: 0%;
                background-repeat: no-repeat;
                background-size: contain;
                flex-direction: row;
                justify-content: center;
            }

            .steps {
                width: 80%;
                height: 10%;
                // background-color: aliceblue;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
                margin-bottom: 10%;
                align-items: center;


                @media only screen and (max-width: 600px) {
                    width: 10%;
                    margin-top: 5%;
                    padding: 0%;
                    padding-right: 6%;
                }

                .number {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $White;
                    border-radius: 20px;
                    color: $White;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    margin-right: 5%;

                    @media only screen and (max-width: 600px) {
                        width: 40px;
                        height: 40px;
                        margin: 0%;
                        border-radius: 55%;
                    }
                }

                .steps2 {
                    display: flex;
                    flex-direction: column;



                    .stepNo {
                        color: $Light-gray;
                        font-size: 12px;
                        font-weight: 500;
                        opacity: 0.7;

                        @media only screen and (max-width: 600px) {
                            display: none;
                        }
                    }

                    .stepTitle {
                        margin-top: 5%;
                        color: $White;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 13px;
                        font-weight: 700;


                        @media only screen and (max-width: 600px) {
                            display: none;
                        }
                    }
                }
            }

            .steps1 {
                width: 80%;
                height: 10%;
                // background-color: aliceblue;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
                margin-bottom: 10%;
                align-items: center;

                @media only screen and (max-width: 600px) {
                    width: 10%;
                    margin-top: 5%;
                    padding: 0%;
                    padding-right: 6%;
                }

                .number {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $Light-blue;
                    border: 1px solid $Light-blue;
                    border-radius: 20px;
                    color: $Black;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 13px;
                    font-weight: 700;
                    margin-right: 5%;

                    @media only screen and (max-width: 600px) {
                        width: 40px;
                        height: 40px;
                        margin: 0%;
                        border-radius: 55%;
                    }
                }

                .steps2 {
                    display: flex;
                    flex-direction: column;

                    .stepNo {
                        color: $Light-gray;
                        font-size: 12px;
                        font-weight: 500;
                        opacity: 0.7;

                        @media only screen and (max-width: 600px) {
                            display: none;
                        }
                    }

                    .stepTitle {
                        margin-top: 5%;
                        color: $White;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 13px;
                        font-weight: 700;

                        @media only screen and (max-width: 600px) {
                            display: none;
                        }
                    }
                }
            }
        }


        .body5 {
            width: 70%;
            height: 80%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            z-index: 9999;


            @media only screen and (max-width: 900px) {
                width: 65%;
                height: 80%;
            }


            @media only screen and (max-width: 600px) {
                width: 95%;
                height: 50%;
                margin-top: 26%;
                background-color: $White;
                border-radius: 10px;
            }

            .wrapperthanks {
                width: 98%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .thankyou {

                    @media only screen and (max-width: 600px) {
                        width: 20%;
                        height: 20%;
                        margin-bottom: 5%;
                    }
                }


                .title {
                    font-weight: 700;
                    color: $marine-blue;
                    font-size: 35px;
                    font-family: 'Ubuntu', sans-serif;
                }

                .word {
                    width: 66%;
                    font-weight: 400;
                    color: $Cool-gray;
                    font-size: 16px;
                    font-family: 'Ubuntu', sans-serif;

                    @media only screen and (max-width: 600px) {
                        width: 90%;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}