@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap");
.container3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container3 {
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
  }
}
.container3 .wrapper {
  width: 60%;
  height: 80%;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 19px 58px -35px #888888;
  border-radius: 20px;
  padding-left: 0.5%;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 1320px) {
  .container3 .wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
  .container3 .wrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 900px) {
  .container3 .wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper {
    width: 100%;
    height: 90%;
    background-color: hsl(217, 100%, 97%);
    flex-direction: column;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
  }
}
.container3 .wrapper .sidebar {
  width: 26%;
  height: 96%;
  float: left;
}
@media only screen and (max-width: 900px) {
  .container3 .wrapper .sidebar {
    width: 35%;
  }
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .sidebar {
    display: none;
  }
}
.container3 .wrapper .stepswrapper {
  width: 25.2%;
  height: 46%;
  position: absolute;
  top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper {
    width: 100%;
    background-image: url("../assets/bg-sidebar-mobile.png");
    top: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row;
    justify-content: center;
  }
}
.container3 .wrapper .stepswrapper .steps {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  margin-bottom: 10%;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps {
    width: 10%;
    margin-top: 5%;
    padding: 0%;
    padding-right: 6%;
  }
}
.container3 .wrapper .stepswrapper .steps .number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5%;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps .number {
    width: 40px;
    height: 40px;
    margin: 0%;
    border-radius: 55%;
  }
}
.container3 .wrapper .stepswrapper .steps .steps2 {
  display: flex;
  flex-direction: column;
}
.container3 .wrapper .stepswrapper .steps .steps2 .stepNo {
  color: hsl(229, 24%, 87%);
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps .steps2 .stepNo {
    display: none;
  }
}
.container3 .wrapper .stepswrapper .steps .steps2 .stepTitle {
  margin-top: 5%;
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps .steps2 .stepTitle {
    display: none;
  }
}
.container3 .wrapper .stepswrapper .steps1 {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  margin-bottom: 10%;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps1 {
    width: 10%;
    margin-top: 5%;
    padding: 0%;
    padding-right: 6%;
  }
}
.container3 .wrapper .stepswrapper .steps1 .number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(206, 94%, 87%);
  border: 1px solid hsl(206, 94%, 87%);
  border-radius: 20px;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-right: 5%;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps1 .number {
    width: 40px;
    height: 40px;
    margin: 0%;
    border-radius: 55%;
  }
}
.container3 .wrapper .stepswrapper .steps1 .steps2 {
  display: flex;
  flex-direction: column;
}
.container3 .wrapper .stepswrapper .steps1 .steps2 .stepNo {
  color: hsl(229, 24%, 87%);
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps1 .steps2 .stepNo {
    display: none;
  }
}
.container3 .wrapper .stepswrapper .steps1 .steps2 .stepTitle {
  margin-top: 5%;
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .stepswrapper .steps1 .steps2 .stepTitle {
    display: none;
  }
}
.container3 .wrapper .body3 {
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: "Ubuntu", sans-serif;
  z-index: 9999;
}
@media only screen and (max-width: 900px) {
  .container3 .wrapper .body3 {
    width: 65%;
    height: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 {
    width: 95%;
    height: 60%;
    display: flex;
    margin-top: 26%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 0%;
  }
}
.container3 .wrapper .body3 .title {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .title {
    width: 90%;
    margin-left: 5%;
    margin-top: 8%;
  }
}
.container3 .wrapper .body3 .instruction {
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  margin-bottom: 5%;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .instruction {
    width: 85%;
    margin-left: 5%;
    font-size: 18px;
    margin-bottom: 5%;
  }
}
.container3 .wrapper .body3 .form1 {
  width: 90%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .form1 {
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
  }
}
.container3 .wrapper .body3 .form1 .errorText {
  color: hsl(354, 84%, 57%);
  font-weight: 700;
  font-size: 10px;
}
.container3 .wrapper .body3 .form1 .buttonHolder1 {
  height: 37%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container3 .wrapper .body3 .form1 .buttonHolder1 .button5 {
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  font-weight: 700;
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .form1 .buttonHolder1 .button5 {
    position: absolute;
    width: 35%;
    height: 10%;
    bottom: -56%;
    left: 0%;
  }
}
.container3 .wrapper .body3 .form1 .buttonHolder1 .button5:hover {
  color: hsl(213, 96%, 18%);
}
.container3 .wrapper .body3 .form1 .buttonHolder1 .button4 {
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 96%, 18%);
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .form1 .buttonHolder1 .button4 {
    position: absolute;
    width: 35%;
    height: 10%;
    bottom: -56%;
    right: 0%;
  }
}
.container3 .wrapper .body3 .form1 .buttonHolder1 .button4:hover {
  background-color: hsla(213, 96%, 18%, 0.808);
}
.container3 .wrapper .body3 .Wrapper1 {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 0%;
  margin: 0%;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .Wrapper1 {
    height: 90%;
  }
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper {
  width: 98%;
  height: 25%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .Wrapper1 .planWrapper {
    height: 28%;
  }
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper input[type=checkbox][id^=myCheckbox] {
  display: flex;
  position: absolute;
  margin-left: 5%;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper label {
  width: 100%;
  height: 100%;
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  position: relative;
  margin: 0px;
  cursor: pointer;
  transition-duration: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 5%;
}
@media only screen and (max-width: 600px) {
  .container3 .wrapper .body3 .Wrapper1 .planWrapper label {
    margin-top: 0%;
  }
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper label:before {
  background-color: white;
  color: white;
  content: "";
  display: block;
  border: 1px solid grey;
  position: absolute;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper img {
  height: 35%;
  width: 35%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper :checked + label {
  background-color: hsla(228, 100%, 84%, 0.171);
  border: 2px solid hsl(228, 100%, 84%);
  border-radius: 10px;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper :checked + label:before {
  content: " ";
  display: none;
  background-color: none;
  border: none;
  transform: scale(1);
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper :checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper .Prices {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
  font-size: 15px;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper .plan1 {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper .plan1 .planName {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  font-size: 16px;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper .plan1 .planPrice {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}
.container3 .wrapper .body3 .Wrapper1 .planWrapper .plan1 .planbonus {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
  font-size: 13px;
}/*# sourceMappingURL=Page3.css.map */